[2017-07-25 20:58] emresaracoglu opened #2 ""Could not download app dashboard""
Hi,

I uploaded this module but I can't install, getting this error:

_NC 12_
What could be the problem?

[2017-07-25 21:02] emresaracoglu commented on #2
I forgot to change the folder name
`dashboard-master` to `dashboard`

:)

[2017-07-25 21:02] #2 closed

[2017-07-26 09:29] nickvergessen opened #3 "Dashboard should not call code of the activity app"
https://github.com/nextcloud/dashboard/blob/master/lib/Service/ActivityService.php#L29-L31

This is wrong and should not be done. Apps must not call each others code like this.
What you want to do is make it possible for other apps to provide dashboard panels.
Have a look at:
1. The activity manager with settings/filters/providers
2. The notification manager with notifiers/apps
3. The settings man

[2017-07-26 09:40] julio1501 opened #4 "calendar is not displayed"
Dashboard cannot display calender (v. 1.5.3)

[2017-07-26 10:12] MorgJeh opened #5 "Speichern geänderter Einstellungen schlägt fehl"
Hallo

ich kann geänderter Einstellungen leider nicht speichern.

[2017-07-27 14:54] julio1501 commented on #5
Hi,

ist die app " activity "aktiviert?

[2017-07-28 10:20] FBalduin commented on #4
-created a pull request and just delete "vendor"; we have to install composer
-is there a reason to let "vendor" in github?

Same Problem is here:
https://apps.nextcloud.com/apps/dashboard/releases?platform=12#12
In this zip is the old vendor, e.g. a old fullcalendar-version. thats why calendar isnt displayed.

[2017-08-01 10:12] LukasReschke opened #7 "Remove examples from git repository and shipped code"
There are still examples included at https://github.com/nextcloud/dashboard/tree/master/vendor such as https://github.com/nextcloud/dashboard/blob/master/vendor/datatables/datatables/examples/resources/examples.php and some more which we should all remove.

Assigning myself here.

[2017-08-02 08:29] FBalduin opened #8 "FullCalender in Calender-Section displays only english designations"
see Below...

![image](https://user-images.githubusercontent.com/30518880/28864636-6edcf4a6-776d-11e7-9e85-14219ba1ddbc.png)

[2017-08-02 08:47] FBalduin opened #9 "Announcement-Section: user-group should be configurable"
Currently the Users must be part of the group "News" in oder to create and edit announcements.

See
[AnnouncementController.php(https://github.com/nextcloud/dashboard/blob/master/lib/Controller/AnnouncementController.php)
May it would be nicer, if the administrator can set a "news"-group (Feature).

[2017-08-02 18:33] jancborchardt opened #10 "Enabling or disabling app clears header menu"
Every time you enable or disable the app this happens:
![screenshot from 2017-08-02 20-32-43](https://user-images.githubusercontent.com/925062/28888690-d5c4da18-77c1-11e7-9b4e-15ac3521ce7a.png)
You need to manually refresh to fix it.

cc @juliushaertl @nextcloud/javascript

[2017-08-02 18:49] MorrisJobke commented on #10
What happens? The app menu hides?

[2017-08-02 20:46] juliushaertl commented on #10
@jancborchardt Cannot reproduce on 12.0.1 RC4 or is this happening on master?

[2017-08-03 14:15] FBalduin commented on #8
-Problem can fix with:
locale: OC.getLocale().substr(0, 2), -- instead of "lang"
in https://github.com/nextcloud/dashboard/blob/master/js/calendar.js

Next week i will offer a pullrequest to close this issue and issue #7

[2017-08-04 10:44] juliushaertl commented on #10
Looks like there is some issue with the order of -1 that the dashboard app uses. Changing that to 0 makes it work again.

[2017-08-04 12:03] MorrisJobke commented on #10
@juliushaertl Could you open a PR?

[2017-08-04 12:07] juliushaertl commented on #10
@MorrisJobke I just wanted to have another look why things break. Changing to 0 makes the app appear after files, which is not wanted I guess.

[2017-08-04 12:13] MorrisJobke commented on #10
But I checked and it is simply a normal "Which is higher" comparison in the "proceedNavigation". Where does it appear in the normal menu with the -1?

[2017-08-06 20:05] jancborchardt commented on #10
Currently it does appear before Files. But as said only after a refresh. :)

[2017-08-07 13:24] splitt3r opened #11 "Dynamic dashboard"
It would be pretty awesome to have dynamic widgets in the dashboard. For example https://troolee.github.io/gridstack.js/ could be used to achieve that.

[2017-08-08 11:08] pi-xel commented on #5
Kriege denselben Fehler, Activities App ist aktiviert

[2017-08-08 17:51] ddanielww opened #12 "Dash not working"
Enabled dash it shows the icon on the menu, when I go into the dash it displays

No data available in table
--

Settings invalid.

Also none of my evens show, no diary ?

[2017-08-08 19:44] ddanielww commented on #12
Now got error

[CLOSED] IMAP connection broken (server response)
 on my inbox section.

Any ideas ?

[2017-08-09 10:42] aproposnix opened #13 "Email doesn't work"
After configuring the IMAP server (gmail) in personal settings,  it only displays a message "Extension missing: imap" in the dashboard where the mail is supposed to be.

Nextcloud v12.0.1

[2017-08-09 11:01] FBalduin commented on #12
Can you post a Screenshot?
Inbox-Error: Maybe in your personal-section the e-mail settings are invalide.

[2017-08-14 08:52] FBalduin opened #14 "Several announcement channels"
current solution: one group can create/edit/delete announcements. The other user read all announcements from this group.

Maybe there is a better solution:
Several announcement groups with different rights.
e.g. Group: "Global Announcements": see current solution,
group: "Team A": just the announcements of users in this group.

Maybe that can be solved a seperate app and the dashboard use this app

[2017-08-28 09:38] Erreur32 commented on #13
Probably php7.0-imap (or php-imap)  packaged is missing:

`apt-get install php7.0-imap`

and Restart Apache after that.

[2017-08-31 19:54] dartcafe opened #15 "Supporting widgets from apps"
I like the desktop, but would it be possible to make something like a widget system, which can contain widgets provided from installed apps instead of coding own functions for the dashboard?

In the end the dashboard can be reduced to be the tool for displaying, adding, deleting and arranging the widgets.

[2017-08-31 19:56] dartcafe commented on #15
OK. Same idea as #3

[2017-09-01 10:42] tuxpol opened #16 "can't install dashboard"
hi everyone!
i'm trying to enable the dashboard on my nextcloud installation but i have this error
"App for id dashboard has a wrong app ID in info.xml:"
what can i do?
Thanks!
bye

[2017-09-05 21:13] dougti opened #17 "Can't save dashboard settings + "Invalid class" warning on app enable"
Hi,
 When I enable the dashboard, the following warnings appear in my log:
`
[owncloud][no app in context][3] Admin section instance must implement \OCP\ISection. Invalid class: OCA\Dashboard\Controller\AdminController
[owncloud][no app in context][3] Admin section instance must implement \OCP\Settings\ISection. Invalid class: OCA\Dashboard\Controller\AdminController
`

Also, when I try to change

[2017-09-11 23:18] wargreen commented on #12
Got the same error than the first post, and i got this log :
`{"reqId":"5b5mqykUPimbbTPjIZMP","level":3,"time":"2017-09-11T23:13:07+00:00","remoteAddr":"*******","user":"wargreen","app":"PHP","method":"GET","url":"\/apps\/dashboard\/activities?_=1505171586515","message":"Undefined index: link at \/var\/www\/cloud\/nextcloud\/apps\/dashboard\/lib\/Service\/ActivityService.php#104","userAgent":"Mozi

[2017-09-13 19:19] aproposnix commented on #13
Thanks @Erreur32  that worked.  Issue resolved.

[2017-09-20 11:58] ChristophWurst commented on #16
Ref https://github.com/nextcloud/mail/issues/492#issuecomment-330829469

[2017-09-22 08:59] j0inty opened #18 "PostgreSQL: ERROR: function curdate() does not exist"
Hi,

if you to run the dashboard with postgresql backend you will geht the following error.

NC: 12.0.3.3
Dashboard: 4.0.5

ErrorMessage:
`Doctrine\\DBAL\\Exception\\DriverException","Message":"An exception occurred while executing 'SELECT * FROM \"oc_dashboard_announcements\" WHERE expiration >= CURDATE() ORDER BY created_at DESC LIMIT 5':\n\nSQLSTATE[42883]: Undefined function: 7 ERROR:  functio

[2017-09-27 08:51] MorrisJobke commented on #16
Fixed in https://github.com/nextcloud/server/pull/6586

[2017-09-27 08:51] #16 closed

[2017-09-28 10:49] #13 closed

[2017-10-03 10:26] Babene03 commented on #13
we use PHP7.1 but we have a problem, i can't install php7.1-imap.

https://www.ubuntuupdates.org/package/core/zesty/universe/proposed/php7.1-imap

[2017-10-12 20:10] mathiasconradt opened #19 "Color set in Nextcloud > Admin > Theming > Colour not taken into consideration"
When setting a custom color under Nextcloud > Admin > Theming > Colour, the Dashboard app does not consider that but displays the app icon as well as the separator lines in the content area in light blue.

The icon also shows this color even when another app is currently active, so it's out of line with the rest of the icons in the app menu bar.

NC 12.0.3, Dashboard App 4.0.5

![screenshot from 2

[2017-11-12 13:00] spellauge commented on #18
workaround: login to nextcloud's database with nextclouds userid and define curdate()

[code]

[2017-11-29 08:50] moretocome opened #20 "Email do not display"
I can't get email to display properly. At first it told me IMAP was not installed. After running:
[code]
I know see:
[code]
I would really love to see a working dashboard for my Nextcloud, so thank you devs :)

[2017-12-24 02:37] dszego opened #21 "Dashboard mail link points to Rainloop - not built-in mail app"
Hi all,
Clicking on an email in the dashboard points to /index.php/apps/rainloop - which redirects to /index.php/apps/files if Rainloop isn't installed as an app.

Since NextCloud 13 has a lovely email app of it's own, and there may be others available (Roundcube, etc.) it would be nice if this were a configurable option in Settings, right below where you put in the mailserver. A simple dropdown o

[2017-12-29 03:05] lumenrobbin commented on #10
![image](https://user-images.githubusercontent.com/9877294/34428488-c74a483c-ec7f-11e7-8dc7-2da859eaf275.png)
i refresh this button save, but cannot save. anyone help?

[2017-12-29 18:31] jancborchardt commented on #10
@lumenrobbin that's a separate problem, please open a new issue. :)

[2018-01-20 21:20] xraMsamohT commented on #21
@dszego There's no _built-in_ mail app in Nextcloud -- neither in NC12 nor in NC13.

Because this app was obviously abandoned,, replace `rainloop` by `mail` or something in https://github.com/nextcloud/dashboard/blob/master/js/inbox.js#L45-L48 and it wotks.

[2018-02-03 23:33] cyrg38 commented on #4
partially resolved by importing fresh fullcalendar-3.8.2.zip (nextcloud 12.0.5)

you also have to manually edit :
 - templates/main.php to edit path to fullcalendar.min  (without /dist/)
- js/calendar.js to change "lang" attribute to "locale"
 I also added "firstDay" attribute and removed .format(...) transforming on eventDate that were failed to pop-up the dialog
that's all

[2018-02-10 13:19] BoFFire opened #22 "Arabic is missing"
Hi,
I cannot find Arabic on my Web language profile selection on NextCloud.
Is it a bug ?

Link to translations : https://www.transifex.com/nextcloud/nextcloud/language/ar/

Link to a toot : https://mastodon.social/users/ButterflyOfFire/statuses/99501182674701137

Best regards,

[2018-02-10 21:16] cyrg38 commented on #4
after update ; #app-content-wrapper {display: flex} is a problem ; change it to display: contents
but there seems to show no more events

[2018-02-17 19:06] AlviseNicoletti commented on #17
following ...

[2018-02-19 14:25] Spartachetto opened #24 "Maybe disabling this app could be the right decision"
This app does not seem to be maintained:
-  tickets are not closed (even the ones from Nextcloud developers like #3, #7, #10)
- on the forum there are several negative posts (e.g: [Dashboard app abandoned?](https://help.nextcloud.com/t/dashboard-app-abandoned/27341) , [Dashboard alternatives?](https://help.nextcloud.com/t/dashboard-alternatives/22272) )

@jospoortvliet maybe it would be better to

[2018-03-07 16:04] jzielke-nli commented on #17
Confirmed on my NC13 instalation. Log outputs:
[code]

The table is empty so it seems it's not passing a query correctly nor saving anything, leading to the described results of @dougti

[2018-03-12 20:33] Matze202 opened #26 "Dashboard Design"
1. Bei #app-content-wrapper fehlt mir folgendes:

Erst nach dem manuellen Einfügen sieht die Auflistung vom Dashbord bei mir so aus, wie bei eurem Screenshot.

2. Beim Quota habe ich bei sehr kleiner Speichernutzung die Anzeige mehrzeilig. Dies konnte ich aktuell noch nicht selbst beheben.

[2018-03-15 14:32] #22 closed

[2018-04-13 17:12] rickcrash commented on #5
Ich habe das gleiche Problem, konkret geht wird das Deaktivieren der E-Mail-Anzeige nicht gespeichert.

Ein ähnliches Problem besteht bei der calendar-App, wenn ich bei "_Zusätzlichen Einstellungen" "Geburtstagskalender aus den Kontakten erstellen" deaktiviere, wird diese Einstellung auch nicht gespeichert.

Activities ist aktiviert.

[2018-04-16 13:06] hessercan opened #28 "Dashboard not displaying properly"
Having an issue getting the dashboard to show up properly...

<img width="1436" alt="screen shot 2018-04-16 at 9 03 05 am" src="https://user-images.githubusercontent.com/24305438/38810633-5d67e520-4155-11e8-883c-6f59f5f56859.png">

[2018-04-17 07:02] tuxedo-rb commented on #28
Hello,
take a look at our fork [https://github.com/tuxedocomputers/dashboard](https://github.com/tuxedocomputers/dashboard).
We tried to solve the most critical issues, at least for nextcloud v13.
We still work on some improvements, but the current version is operational.

Users with older installments of nextcloud are also welcome to check it out.
Until now i was too lazy to set up a 3rd testserv

[2018-04-17 08:29] hessercan commented on #28
Thank you, works like a charm! Have you considered updating the nextcloud store? That’s where I enabled the original that didn’t work.
--
 <https://www.hessercan.com/>
Mark Hesser
HesserCAN <https://www.hessercan.com/>
(814) 753-4431 <tel:8147534431>

[2018-04-26 12:14] MichaSei commented on #26
Danke für den guten, aber leider nicht ganz so hilfreichen Tipp.

wo genau darf ich denn die Änderung eintragen?
welcher Datei in welchem Ordner wartet darauf?

[2018-06-06 14:11] stratege1401 commented on #17
nc 13.0.2 same behaviors. save is not possible

[2018-06-06 16:40] stratege1401 commented on #5
please, thousands of peoples in github use english for international mutual understanding even if it is not their native language.
Don't post in spanish, german, french, swaili, japanese, greek, deutch, or whatever martians language as:
- we dont understand you.
- we dont have time to cut and past message in translator.
- even if we have a solution, we won't help because we dont understand what yo

[2018-06-14 11:04] stratege1401 commented on #24
i ve just uninstalled it ... the nc_dashbord id dead too

[2018-06-15 21:14] Matze202 commented on #26
Ich hatte es nicht lange genutzt, weil ich es leider noch nicht als tauglich erachtet hatte.
Die Datei findest du in dem Ordner der App, wenn du es noch brauchst und absolut nicht findest, muss ich nochmal das auf einem Testserver drauf machen und mir es nochmal ansehen.

[2018-06-18 10:44] daita commented on #20
Please test v5.0.0

[2018-06-18 10:45] daita commented on #28
v5.0.0 is available on the appstore

[2018-06-18 10:46] daita commented on #26
Please use english language to report your issue

[2018-06-18 10:47] daita commented on #17
v5.0.0 is available on the appstore

[2018-06-18 10:49] daita commented on #11
We have the exact same vision on the app !

[2018-06-18 10:50] #15 closed

[2018-06-18 10:52] daita commented on #12
v5.0.0 is available on the appstore

[2018-06-18 10:53] daita commented on #10
@juliushaertl any update on this issue ?

[2018-06-18 11:27] tobiasKaminsky opened #29 "Hide mail if no mail app in installed"
![image](https://user-images.githubusercontent.com/5836855/41533502-3f3996f2-72fb-11e8-8ec2-bb12fd82edf8.png)

- not (yet) translated
- hide posteingang (mail inbox) if no mail app is installed

[2018-06-18 11:29] tobiasKaminsky opened #30 "Email not working"
- enabled & setup email app
- nothing shown in "mail inbox"

NC13

[2018-06-18 12:13] tuxedo-rb commented on #4
Hey daita, a small modification of ./templates/main.php is required to display the fullcalendar component.

change Line 42 to:
script('dashboard', '../components/fullcalendar/dist/fullcalendar.min');

change Line 47 to:
$langFile = '../components/fullcalendar/dist/locale/' . $langCodeShort;

change Line 50 to:
style('dashboard', '../components/fullcalendar/dist/fullcalendar.min');

[2018-06-18 12:16] stratege1401 commented on #28
Hello,

juste tested v5.0.0 on NC13.0.4

Displaying OK
Setup changes OK
Responsiveness on my smartphone lets say OK

Good work !

[2018-06-18 12:21] daita commented on #30
As of right now, you need to setup your mailbox manually. The app does not retreive the configuration from the Mail/Rainloop app

[2018-06-18 12:27] stratege1401 commented on #28
@hessercan MAYBE YOU SHOULD REDACTED YOUR POST !!! YOUR PHONE NUMBER IS VISIBLE !!!

[2018-06-18 14:01] juliushaertl commented on #10
@daita Nope but I'll have a look at it again.

[2018-06-18 14:30] hessercan commented on #28
Business phone number, not my personal.  That signature attaches to every email I send. Not worried about it, not sure why it was there though.

[2018-06-19 11:58] #28 closed

[2018-06-19 12:15] Matze202 commented on #26
@daita sorry my english is not good, deshalb bleibe ich lieber bei deutsch und wer nicht deutsch spricht, kann es per Translater übersetzen lassen, bevor ich hier nur das falsch übersetzte poste und keiner mich versteht.

[2018-06-21 10:45] daita opened #32 "Advice/feedback on a descent way to add a setting panel for the next design of the dashboard:"
@nextcloud/designers

Hello,

I am rewriting from scratch the whole framework of the dashboard, the idea is to split each elements into Widgets, so the user can add/remove/move/resize each elements in his dashboard:

https://github.com/nextcloud/dashboard/tree/gridstack
(there is some instruction in README about the installation process of the app)

### The design issue
![selection_033](https://us

[2018-06-21 13:19] jancborchardt commented on #32
Let’s step back a bit, and first think of a design concept. :)

The use of the sidebar for configuration seems very strange. I would simply expect there to be a 3-dot icon on every widget, with an entry for "Edit settings". That would then either open a modal, or (more fancy) "rotate" the widget around and show its backside, where the settings are displayed.

There’s always an empty block with "Ad

[2018-06-21 13:40] daita commented on #32
I used the app-navigation to have the dashboard app working on small device (smartphone). I though also about the fancy rotation too, I am just afraid of the space needed by the settings for that widget.

What do you mean by _modal / app-sidebar_ ? a panel that would open on the side of the widget ?

[2018-06-21 13:50] jancborchardt commented on #32
@daita well, the space needed will be the same, no matter what container you use. But the navigation is not the proper element for this.

Modal = modal like for the filepicker
app-sidebar = app-sidebar element like in Files or Talk or Calendar, on the right side.

[2018-06-21 14:10] daita commented on #32
Yup, navigation is definitively not the right way.

Thanks for your feedback !

[2018-06-27 12:58] jancborchardt opened #33 "Design feedback on gridstack branch"
For the record @daita, as discussed on IRC:

- [x] The top bar of each widget should be white, not blue.
- [x] The "widget-header-name" element should be a h2 instead of div
- [x] For every widget, use border-radius: var(--border-radius);
- [x] "Add widget" should not be only in the 3-dot-menu of every other widget, but a "Ghost/placeholder widget" like when you scroll all the way to the right in

[2018-06-27 12:58] jancborchardt commented on #32
Opened new issue for further feedback: https://github.com/nextcloud/dashboard/issues/33

Closing this hence :)

[2018-06-27 12:58] #32 closed

[2018-06-27 13:00] jancborchardt commented on #26
@Matze202 please then put it through Google Translate or similar before you report it. :) English is the regular language of the project, and we shouldn’t require every single person reading the issue to translate it.

[2018-06-27 15:08] Matze202 commented on #26
@jancborchardt Ich weiß, du verstehst mich auch auf deutsch und ich hätte es auch gar nicht melden brauchen, wenn es zuviel ist, dann macht es zu, haut  es in die Tonne und ich melde dann auch nichts mehr.

Sorry, aber ich habe momentan wenig Zeit und kann mir somit nicht sonst wie lange den Kopf zu zermardern, denn ich veröffentliche nur höchst ungern (und nur, wenn mir selbst wirklich viel daran

[2018-06-27 15:21] jancborchardt commented on #26
@Matze202 geht auch freundlicher. Aber wenn du die Anwendung sowieso nicht mehr nutzt, kann die Issue ja zu.

[2018-06-27 15:21] #26 closed

[2018-06-29 18:03] daita commented on #33
Ok, @skjnldsv and I fulfilled the first 3 points, for the last one, you want this 'Add Widget' thing always visible (as long as there is new widget to be added) at the bottom right of the page ?

[2018-06-29 18:15] poVoq commented on #4
Seems still the issue with 5.0, no calendar displayed at all on my up to date Nextcloud.

Also would it be possible to configure/toggle which calendars from the calendar app are displayed?

[2018-07-02 14:09] daita commented on #33
https://cloud.artificial-owl.com/s/rpAYyP3mcTpMrRn

This would be the result

[2018-07-02 14:48] jancborchardt commented on #33
Yup, that’s great, also with the dashed border! :) :+1:

[2018-07-02 15:46] skjnldsv commented on #33
Yes, this looks very great :)

[2018-07-03 14:55] walterheisenberg opened #34 "Announcements not shown in dashboard"
The announcements on the dashboard are not shown. They appear in the "announcementcenter"-tab.

Announcement center 3.2.1
NextCloudPi v0.57.16 on RPi3
Nextcloud version 13.0.4.0

[2018-07-03 18:09] #10 closed

[2018-07-04 11:28] #33 closed

[2018-07-04 11:29] daita commented on #29
In 6.0.0, the mail widget will be included in the mail app.

[2018-07-04 11:29] #29 closed

[2018-07-04 12:55] tuxedo-rb commented on #34
Hello,

The announcement section shows only self-penned messages.
Create a usergroup named 'News' and add users to the group.
Those group members are able to create/edit/delete dashboard announcements.
Users which are not member of 'News' can only read announcements.

[2018-07-05 11:01] julio1501 opened #35 "calendar font color"
Font color on the calender always stays white, even if the background is bright
![grafik](https://user-images.githubusercontent.com/5425758/42319854-8a9921ca-8053-11e8-957a-c83b0ebb453f.png)

[2018-07-05 16:17] walterheisenberg commented on #34
The "News"-group did the trick, thx
But the announcements in Dashboard are different from the announcement-center, right?
I thought, all the announcements from announcement-center are shown in Dashboard.

What I really like in the announcements from the Dashoard is the Texteditor, where you can do basic text-formatting.

Haven't tested it yet, but is there a listing of all announcements, even the

[2018-07-05 17:11] walterheisenberg opened #36 "Feature Requests after first test"
Hi,
I just installed dashboard the first time and after a little issue (#34 ) I have some FR:
1. Mail:
a) Use/read mail settings from the Mail-app
b) make mail in dashboard independent from "imap in PHP"

 If the mail app is installed, then mail should be working in dashboard too ;)

2. "Unite" announcements
It seems that the announcements from "announcement-center" are different from the announce

[2018-07-16 13:02] jancborchardt opened #38 "Database error on update"
[code]

@daita latest of both server and gridstack branch, make npm, and using SQLite.

[2018-07-16 13:12] daita commented on #38
Hmm. yes. the issue is because you already used the branch before. Can you try to drop both table `oc_dashboard_settings` and `oc_dashboard_events` before performing the update ?

[2018-07-16 13:17] jancborchardt opened #39 "More useful widgets"
The current widgets seem playful, but not particularly useful. There’s:
- Clock: not necessary because of the system clock
- Storage space: not really necessary either, as you get a notification when your space runs out
- Fortue quotes: … ;)

How about these instead:
- [x] 📅 The events of today in the Calendar (or the next 24 hrs) including weather of course
- [ ] ☑️ The tasks of today from the Ta

[2018-07-16 13:58] tuxedo-rb commented on #35
Hello julio1501,

I played a bit with the luminance calculation based on the luminance code snipped from
[https://hacks.mozilla.org/2018/07/dark-theme-darkening-better-theming-for-firefox-quantum/](https://hacks.mozilla.org/2018/07/dark-theme-darkening-better-theming-for-firefox-quantum/)
over the weekend.

Open following file in a text editor `./dashboard/lib/Controller/CalendarController.php`
an

[2018-07-16 19:59] stefan-niedermann commented on #39
- :notebook: List of most recent notes with a quick way to open them in the Notes-App

[2018-07-17 07:59] jancborchardt commented on #39
- ✍️ Direct note widget of a note of choice for quick note taking

[2018-07-17 09:05] juliushaertl commented on #39
- Show recent activity
- Show cards from the deck app that are over or near due date

[2018-07-17 09:44] daita commented on #39
Wow, wow, calm down !

Remember that widgets should be included in their relative apps, not in the Dashboard app !
For example, the list of recent files should be included in nextcloud/activity, but I like the Share options, however, it also means to open a right panel (which can be used by other widgets, like a quick-search to display results)

@juliushaertl : Can we work together on a widget for

[2018-07-17 09:49] jancborchardt commented on #39
@daita I know. ;) It’s not about the implementation detail but to have a design specification. We need to start with the user perspective of what people would need, instead of focusing on the technical side.

[2018-07-17 09:56] daita commented on #39
- [ ] I will edit your messages to add checkbox

[2018-07-17 11:03] daita commented on #39
@juliushaertl : made 2 empty widgets: https://github.com/nextcloud/deck/pull/540 - you should pull the last edit on the dashboard (2fb9147)

[2018-07-17 20:23] jancborchardt commented on #38
Yeah, I dropped the tables. But could that error also be fixed, because I guess it’s not only happening to me, and others might just quit it.

[2018-07-17 22:22] daita commented on #38
It is only happening because you upgraded from the branch version.

[2018-07-17 22:22] #38 closed

[2018-07-18 08:20] julio1501 commented on #35
Hello @tuxedo-rb ,

thanks! It´s perfect

[2018-07-19 08:10] tuxedo-rb commented on #34
Hello,

yep, the announcements of Dashboard App are unrelated to Announcement-Center App.

Expired announcements are still present in the database (Table [prefix]_dashboard_announcements).
But there is no panel or overview to show expired announcements.

[2018-08-17 15:47] daita commented on #35
fixed using tuxedo-rb's patch

[2018-08-17 15:47] #35 closed

[2018-08-22 19:58] Rello commented on #39
https://github.com/Rello/audioplayer/issues/328

[2018-08-23 15:12] ashgoodman commented on #13
I have php7.2-imap installed and am getting the extension missing imap error

Will it only work on 7.1?

[2018-08-27 06:49] crossbuilder opened #40 "Database error"
A few months ago, I installed Dashboard app using the web interface, i.e. from the nextcloud store.
I disabled and removed it, because it was not usable back then.

Now when installing/enabling Dashboard app, I get the following error message:

```An exception occurred while executing 'INSERT INTO "oc_dashboard_settings"("id","key","value") VALUES(?,?,?)' with params [1, "show_activity", 1]: SQLST

[2018-08-27 10:45] tuxedo-rb commented on #40
Hello,

please disable and enable the Dashboard-App once again to remove all old remaining database entries relating to dashboard.
There didn't exist any functionality to clean up the database after uninstall in previous versions.
Version 5.0.0 added such a feature.

[2018-08-27 11:04] crossbuilder commented on #40
Unfortunately, I can't disable it because I can't _enable_ it at all.

[2018-08-27 13:34] tuxedo-rb commented on #40
Oh, i get it.
Then clear table `[prefix_]dashboard_settings` manually from your nextcloud database.
Connect to your nextcloud database and run following sql-query:
[code]

[2018-08-28 15:53] Spartachetto commented on #39
It could be interesting to have the "most used" something in the last period or overall.

For example:
- files with most changes in the last three months / overall
- the tags used more often in the last three months / overall
- songs listened more often in the last three months  / overall
- ...

"Three months" is just a proposal for "recently". No idea if there is a conventional value for it

[2018-08-28 16:17] Spartachetto commented on #24
@daita given the recent work on this app and the projects about the future, maybe you could close this issue....

[2018-08-28 16:57] daita commented on #24
I liked this issue :-)

[2018-08-28 16:57] #24 closed

[2018-08-30 06:00] JSoko opened #43 "typo in /app/specialAppInfoFakeDummyForL10nScript.php:4"
The Dashboard app allows users to monitor their data **_throw_** sub-elements called Widgets.

Should be "through":
The Dashboard app allows users to monitor their data through sub-elements called Widgets.

[2018-08-30 09:46] morph027 opened #44 "Nextcloud 14 RC1 + Dashboard 5.0.1: An exception occurred while executing 'SELECT lastval()': SQLSTATE[55000]: Object not in prerequisite state: 7 ERROR: lastval is not yet defined in this session"
When trying to download and activate, it throws the following error:

[code]

[2018-09-02 14:41] Spartachetto commented on #24
@daita I thinked a lot before writing it.
At the time it seemed a reasonable proposal.
Now I think that a dashboard like the one you are trying to realize could be a major update in Nextcloud usability.

I have to thank you. You accepted this issue with huge professionality

[2018-09-05 19:13] floli commented on #12
Dashboard 5.0.1, still showing that behavior like in the previous post screenshot (https://github.com/nextcloud/dashboard/issues/12#issuecomment-328685517)

[2018-09-05 22:00] #43 closed

[2018-09-27 13:43] jzielke-nli commented on #17
Seriously Nextcoud 14 is out and still the same error?

[2018-10-02 03:09] Grimeton commented on #44
#metoo

On Owncloud 14.0.1

Anything I can hand you guys to help with this? Logs? Other stuff?

Cu

[2018-10-02 08:36] lemmy04 opened #45 "dashboard layout is broken in current firefox"
Hi,

the dashboard layout seems to be broken in firefox:
![image](https://user-images.githubusercontent.com/664127/46337740-9e370000-c62e-11e8-9bab-7b8bebf55476.png)

in chrome it seems to be fine:
![image](https://user-images.githubusercontent.com/664127/46337766-ae4edf80-c62e-11e8-86e4-269c5080c00c.png)

[2018-10-11 09:19] tuxedo-rb commented on #45
Hello,

Nextcloud v14 broke the layout once more.
But there is a simple fix.
Open following file in a text editor `./dashboard/css/style.css` and change the first line to:
[code]

@daita
Do you still accept pull requests for the old dashboard (Branch: stable14)?

[2018-10-11 09:40] daita commented on #45
yes !

[2018-10-11 13:12] lemmy04 commented on #45
hm.. it's a *bit* better but not all that much.
![nextcloud dashboard firefox manually fixed](https://user-images.githubusercontent.com/664127/46806524-13f64680-cd68-11e8-8439-a28298753c71.jpg)

[2018-10-11 19:01] tuxedo-rb commented on #45
As i see you use Windows, could you try `ctrl` + `F5` to force a complete page reload?

[2018-10-23 09:48] tuxedo-rb commented on #44
Hello,
how Nextcloud handles INSERT queries for postgreSQL is part of [nextcloud/server](https://github.com/nextcloud/server) DBAL and their AdapterPgSql.

The abstract [Mapper.php](https://github.com/nextcloud/server/blob/master/lib/public/AppFramework/Db/Mapper.php) class calls for each INSERT operation `lastInsertId`, which always uses `SELECT lastval()` in [AdapterPgSql.php](https://github.com

[2018-10-26 06:58] tuxedo-rb commented on #12
@floli
If you refer to the inbox section, then you have to enter your email access data under: `Settings` -> `Additional settings`.
The inbox section requires the php extension [imap](http://php.net/manual/en/book.imap.php) on your nextcloud server to connect to your email-server.

@wargreen
I don't know whats going on with your Hackpero event.
Did you create it with the nextcloud calendar app, or

[2018-11-15 10:17] tuxedo-rb commented on #44
I reported the bug to the nextcloud/server issue board.
<https://github.com/nextcloud/server/issues/12465>
You could also override the insert method, how it @rullzer did for the files_antivirus App.
<https://github.com/nextcloud/files_antivirus/commit/c82de74f727513c702e403a25c36fea911460751>

[2018-12-04 19:37] DrissiReda commented on #44
After trying to download & enable and this happens, I tried to click again and I got :
`An exception occurred while executing 'INSERT INTO "oc_dashboard_settings"("id","key","value") VALUES(?,?,?)' with params [1, "show_activity", 1]: SQLSTATE[23505]: Unique violation: 7 ERROR: duplicate key value violates unique constraint "oc_dashboard_settings_pkey" DETAIL: Key (id)=(1) already exists.`

[2018-12-10 09:03] julio1501 commented on #45
the "used storage" bar is not displayed and the page can not be scrolled.

[2018-12-12 13:24] lemmy04 commented on #45
ok the new dashboard doesn't have these issues anymore ... but it doesn't have any useful contant yet, either. i take it it's up to the other apps now to provide widgets=

[2018-12-15 14:02] emersonkfuri opened #47 "Dashboard skeleton widgets"
It would be nice if the admin can define some widgets to show using a skeleton structure

[2019-01-03 21:12] danielkesselberg commented on #44
15.0.1 is scheduled for 2019-10-01 and will ship a fix.

[2019-01-03 21:12] #44 closed

[2019-01-04 21:10] Grimeton commented on #44
October 2019? Really?

[2019-01-18 22:28] peteman52 opened #48 "Dashboard "Create Announcement" Popup is hidden"
My configuration:
Ubuntu 16.04.5  4.4.0-141-generic
PHP Version: 7.0.32
mysql Version: 5.7.24
Firefox 64.0 (64-Bit)
Nextcloud 14.0.6

The Popup-Window to create an announcement is hidden. It shows only if all other Dashboard boxes but the announcement-box are not configured.
In data/nextcloud.log following error is repeatedly logged:
{"reqId":"Vb5L8uRZxOrXjHQcTS7Y","level":3,"time":"2019-01-18T21:

[2019-01-19 22:27] #48 closed, assigned to nobody

[2019-02-03 03:40] darkjedeye commented on #39
how about enabling a feature that has a basic wysiwyg feel, that people can create their own widget with links to either their most used files, or to open any feature they have in nextcloud, sort of like "create a Dashboard Shortcut" type deal

[2019-02-20 14:01] HumanG33k opened #49 "Postgresql error on update from v5 to v6"
I try to upgrade from v5 to v6 after i upgrade nextcloud to 15 from 14.

I  have an error :
[code]

[2019-02-27 15:27] tuxedo-rb commented on #39
We worked on two additional Tasks sections for the old Dashboard (based on stable14 branch).
I published the code in our fork repo as a new branch named 'tasks_support'.
[https://github.com/tuxedocomputers/dashboard/tree/tasks_support](https://github.com/tuxedocomputers/dashboard/tree/tasks_support)

If someone want to reuse the code for a new Dashboard widget, just use it.

[2019-03-01 18:53] kaffeeringe opened #50 "Only 3 Widgets"
I use Nextcloud 15.0.5 with Dashboard 6.0.0 and almost no widgets are available - only Time/Date, Fortunes and Quota. Who do I get more widgets for the calendars or e-mails?

[2019-03-20 15:43] fsteinbauer commented on #50
While the new dashboard widget is lacking vital features the old dashboard supported (calendar/anouncements), is it possible to temporarly enable the old widget (v5.0.1)?

[2019-03-23 23:44] rodrigocastrillon commented on #49
Hi there! I also got this error so I created a dummy index for post-deletion by the install script of the dashboard plugin. This is how I did:
1. Get the DB settings (host, id, password):
[code]

2. Connect to the DB (Postgres in my case - using NC appliance):
[code]

3. Create an index:
[code]

4. In the apps menu in NC web interface, try to download and install the dashboard plugin again.

This

[2019-03-28 20:58] rodrigoesborges commented on #49
I got the same problem, didn't try yet @rodrigocastrillon 's workaround

[2019-04-09 18:28] zonky2 commented on #50
With the new Dashboard V 6 (from NC 15) you can move the widgets - great!

But is it also possible to do something with the app? I can’t display more than the time. What about last e-mails, next appointments, last info, …?

How can I create standard widgets or a standard dashboard as admin?

I have unfortunately little hope that from the App times what becomes :(

[2019-04-09 18:31] zonky2 commented on #39
- [ ] latest announcement
- [ ] generate a set of widgets as admin as default for the users

[2019-04-09 19:34] Kaennorsing opened #51 "Not possible to remove widgets, App not compatible with utf8mb4_unicode_520_ci ?"
**No longer possible to remove any widgets...
Possibly more issues that I did not notice yet
Invalid database records seem to remain in the database after uninstallation of the plugin
Is it possible to fix it ?**

[index] Error: Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'UPDATE oc_dashboard_settings SET enabled = ? WHERE (widget_id = ?) AND (user_id = ?)' with

[2019-04-09 19:53] Kaennorsing opened #52 "ea"

[2019-04-09 19:53] #52 closed

[2019-04-09 19:53] Kaennorsing commented on #52
accidently opened

[2019-04-11 04:57] MarkPartlett commented on #51
I had this problem due to MySQL 5.7 , I modified line 102 of /apps/dashboards/lib/Db/SettingsRequest.php to "	$qb->set('enabled', $qb->createNamedParameter('0')); " to debug/work-around the issue.

[2019-04-11 07:44] MarkPartlett commented on #50
![image](https://user-images.githubusercontent.com/24204336/55939348-e0e23080-5c80-11e9-9dd3-1adb66147845.png)

I've been playing with the v6 framework... built myself a Reporting Dashboard using chart.js , gauge.js and datatables.js .. just needs other 'app owners' to build widgets for their own apps.

[2019-04-11 13:28] morph027 commented on #49
I did:

[code]

[2019-04-17 10:22] buoncri commented on #49
As @morph027  said i uninstall and then drop tables. Now it is working ... less or more :-D
Tnk to all

[2019-04-20 16:01] tnyeanderson opened #53 "[Feature Request] Load URL in iframe as widget"
There should be an option in the "Add New Widget" popup to load any URL (similar to how "external sites" works). If the page is on the same domain (i.e. is another Nextcloud page) allow the running of custom scripts as well. This could be added as a Widget to the nextcoud/external app, or it could be added here. I think adding it here would be a much smoother experience.

One problem this could fi

[2019-04-23 14:25] iSpeeX commented on #50
Tell me if I'm wrong, but you have to develop your own widget in PHP to make something useful right ?

[2019-04-27 07:26] suloveoun opened #54 "When I try click on ENABLE button"
`An exception occurred while executing 'INSERT INTO "oc_dashboard_settings"("id","key","value") VALUES(?,?,?)' with params [1, "show_activity", 1]: SQLSTATE[23505]: Unique violation: 7 ERROR: duplicate key value violates unique constraint "oc_dashboard_settings_pkey" DETAIL: Key (id)=(1) already exists.`

[2019-05-11 19:04] heikobornholdt commented on #50
Yep, most of the widgets have been removed with version 6.0.0.

Why? How can I get the old widgets working again?

[2019-05-24 07:05] kaffeeringe commented on #50
How will I get widgets? Will they come with normal updates?

[2019-05-27 00:26] MarkPartlett commented on #39
I recommend looking at iFrames for a quick win... https://youtu.be/3TzOXOcAV2I

[2019-05-27 05:49] zonky2 commented on #39
@MarkPartlett nice video... it´s possible to install this or you can share the source code?

[2019-05-28 22:16] Spartachetto commented on #39
No idea about the technical solution.
What you (@MarkPartlett ) show is very interesting, it would be a huge added value (in my humble opinion) that the graphical representations (gauge, barplot, ...) could use Nextcoud internal data.
For example a barplot showing the frequence of the main tags, or the number of email per contact...

[2019-05-30 03:20] MarkPartlett commented on #53
Like I have done here? https://youtu.be/3TzOXOcAV2I

[2019-05-30 17:18] tnyeanderson commented on #53
Yes! And I love the music. How did you get that working? I watched the video but don't see the same options. Maybe I'm just missing something?

[2019-05-31 22:28] MarkPartlett commented on #39
I'm working on making it a stand alone app using the dashboard app to display the widgets. The next stage is the request/transform to populate the JSON database records that control the java-script components within the widgets.  https://github.com/MarkPartlett/dashboardcharts is the code... I am working on the 'load demo data' button which also populates the DB for that user.

[2019-06-06 00:16] MarkPartlett commented on #53
Still WIP https://github.com/MarkPartlett/dashboardcharts

[2019-06-06 16:30] tnyeanderson commented on #53
Looks great! Though I wonder: why have a seperate app? Shouldn't the changes be implemented here? At the very least, iFrame functionality built in would be nice, and the graphs could stay as a separate app.

Thanks for the hard work!

[2019-06-29 05:21] MarkPartlett opened #55 "WidgetTemplate ->setSettings Syntax"
I am trying to configure the widget 'settings' within the widget xml in lib\Widgets directory. I am trying to understand the syntax for the 'settings' array. I can see I need to define 'name' , 'title' . 'type' . 'default' and placeholder.  Could you please give an example?

I been successful in getting the 'Configure this widget' within the widget menu but I can see the settings are not being sav

[2019-06-29 05:44] MarkPartlett commented on #55
please help @daita

[2019-09-11 06:43] demom opened #57 "PostgreSQL changes to allow saving and removing of widgets"
Hi,

I needed to perform the following code changes to latest dashboard to enable saving and removing of widgets in dashboard.

These are for PostgreSQL 10.10, PHP 7.2.15, Nextcloud 17.0.0 Beta 4 and Dashboard 6.0.0 from nextcloud app store

in lib/Db/SettingsRequest.php:
change
$qb->set('enabled', $qb->createNamedParameter(false));
to
$qb->set('enabled', $qb->createNamedParameter('false'));

in l

[2019-09-24 05:45] #55 closed

[2019-10-03 14:08] david861635 commented on #50
Excuse my noobery, not quite sure what I'm doing here.

I just wanted to say that a great widget to have as part of the native Dashboard would be an RSS consumer (bonus points if it could also support custom XSL template and thus non-RSS XML feeds).

With that addition I'd immediately start using it as my default section logging in to NC (currently using News app, as you could imagine, but to have

[2019-10-04 12:52] locness3 commented on #50
Well, maybe the News develoepr can implement a widget.

[2019-10-13 10:53] duritong opened #58 "NC 17 compatibility missing"
see $SUBJECT - not available in the appstore

[2019-11-08 16:54] e-alfred commented on #58
@daita Can you publish a new release to the app store? That would be awesome!

[2019-11-12 12:04] Mannshoch commented on #39
I wish a kind of [Windirstat](https://windirstat.net) or [jdiskreport](http://www.jgoodies.com/freeware/jdiskreport/) to get an overview about the Disk usage of Users (admin) and my own directories.

It would be nice to change this stat to show most transferred data on the same directory based overview instead.

[2019-12-09 16:07] reiner-text commented on #58
Nextcloud 18 Beta 1 is released and the Dashboard app still has no App Store release for Nextcloud 17.

[2019-12-17 20:54] gsantner commented on #58
for the time being: you can click on the activate untested app option. dashboard shows up for me with NC17 then.

still, a release would be the better option.

@daita

[2019-12-17 21:19] LeSpocky commented on #58
FWIW: my policy is I do the major update, when all apps are compatible. So for now I can't update to v17 because "dashboard" is blocking it. I have two options: wait until it's ready, or remove it. :man_shrugging:

[2019-12-28 18:44] reiner-text commented on #58
Removing the app is probably the better option because the drama repeats itself with every major release.

[2020-01-21 04:07] ChinaShrimp opened #59 "MySmallPhpTools dependency"
I'm using NC 18.0 and dashboard app (source code, not published in app store). After installing the built dashboard to apps directory, nextcloud starts with complaining logs:
[code]

Reproduce steps:
1. Setup nextcloud 18.0;
2. git clone dashboard app and run 'make all' under dashboard app root directory;
3. copy built artifact dashboard-6.0.0.tar.gz to nextcloud apps directory, untar it and renam

[2020-01-25 23:49] e-alfred commented on #58
Nextcloud 18 is out now for some time, @daita can you make a new release to the App Store now? The Weather app now also has a widget available so it would be good to have it available again.

[2020-03-05 11:34] s-rosenfeld commented on #57
Now the board restores its state correctly! Thank you VERY much!

[2020-04-01 11:56] Botrap opened #60 "Multiple Dashboards"
It would be awesome to have the possibility to define multiple dashboards and then assign them to groups or users. Something like i'm using on Jira would be nice.

https://support.atlassian.com/jira-core-cloud/docs/work-with-dashboards-in-jira/

thxs

[2020-04-12 02:10] steeve971 commented on #39
Hi everyone,
I am a new user of Nextcloud. I just installed Dashboard on NC but there are only 3 widgets ?!
What about calendar events/new mails etc. as jancborchardt said ?

I am looking for a version of dashborad with all these widgets. Someone can help me please ?

Regards

[2020-04-12 02:10] steeve971 commented on #50
Hi everyone,
I just installed Dashboard on NC but there only 3 widgets ?!
What about calendat event/new mails etc. as jancborchardt said ?

I am looking for a version of dashborad with all these widgets. Someone can help me please ?

Regards

[2020-04-12 06:57] stefan-niedermann commented on #39
@steeve971 this means that this dashboard app only works as a culmination - you need to ask the developer of the needed apps to make widgets (or ideally even contribute to one 🙂 ). Some of them are already linked in this thread.

[2020-04-12 09:58] Botrap commented on #39
Hi i'm a new Nextcloud user too and was looking at
https://github.com/markpartlett/dashboardcharts

Looks already fine but i was expecting dynamic ones or examples how to make that. @steeve971 something you're looking for too?

[2020-04-12 12:11] steeve971 commented on #39
Hi. Everyone, I am looking for widgets : last mails, calendar events, pendind tasks, announcements and contacts...
I am not familiair with coding or nextcloud. if needed, I am ready to pay a freelance to do that. It's for my small business. The dashboard is a good idea but after login, you don't have a large view on what's going on your nextcloud. it's pity. When an employee login, he must have di

[2020-04-12 15:45] locness3 commented on #50
@steeve971 Read all of the thread

[2020-05-27 01:29] MarkPartlett commented on #58
Hi @daita , is it possible to get Nextcloud 19 support please. :)

[2020-05-31 19:30] datenangebot opened #61 "Whats going on here?"
Hello,

is this app looking for a new maintainer?
I would like to spend some time for having a dashboard in nc.

While I'm a dev-beginner, I first would like just to add some widgets.
But without having the main app running, that senseless...
So, what going on here?

Cheers

[2020-07-01 10:51] azaruiz opened #62 "www.bing.com"

[2020-07-01 10:51] azaruiz commented on #62
azarelm64@gmail.com

[2020-07-01 10:52] azaruiz commented on #62
amr_aza@icloud.com

[2020-07-01 10:52] #62 closed

[2020-07-18 14:15] e-alfred commented on #61
Well, its deprecated: https://github.com/nextcloud/server/issues/20930

[2020-07-21 06:32] #61 closed

[2020-07-28 22:09] Spartachetto commented on #39
@steeve971 ,  @Botrap , have a look at https://github.com/nextcloud/server/issues/20930
As you can see:

- This app will be discontinued (or it will find new maintainers)
- a new dashboard is already developed (but it could have another name)
- the new "dashboard" should provide the functionalities that @steeve971 is describing
- there is a strong possibility that this new "dashboard" will become

[2020-08-26 21:09] sunjam opened #63 "[Feature Request] Comments widget"
I'd like to request a comments widget.  Comments are a common functionality, which are not possible to find at a glance.  They would make an excellent addition to the Dashboard.  Thanks for considering.

[2020-09-04 17:02] jospoortvliet opened #64 "appstore: category and integration apps don't have icons"
@eneiluj - the dashboard category and the integrations have the standard gear icons or no icon at all in our built in app store. They look nice on apps.nextcloud.com, though :D

[2020-09-04 17:43] jospoortvliet opened #65 "give a bit more info on where to get the tokens"
For github I was looking for where to grab the token from for quite a while. A mouse-over perhaps with a bit more info would be quite helpful...  here possible links to use:
* github: https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token
* gitlab: https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html
* zammad - maybe https://docs.zammad.org/en/la

[2020-09-08 05:57] juliushaertl commented on #64
Fixed with https://github.com/nextcloud/server/pull/22638

The dashboard code is now in server btw.

[2020-09-08 05:57] #64 closed

[2020-09-11 15:00] jancborchardt commented on #39
With the new Dashboard which will come with Nextcloud 20, most of these widgets are actually implemented – I checked them off above. And lots of others are in development or have their own relevant issue, like:
- Analytics https://github.com/Rello/analytics/issues/61
- Social https://github.com/nextcloud/social/issues/983
- Bookmarks https://github.com/nextcloud/bookmarks/issues/869
- Notes https:

[2020-09-11 15:00] #39 closed

[2020-09-17 13:02] Valdnet opened #67 "l10n: There are no text strings to translate in Transifex"
Transifex lacks a lot of text strings that cannot be translated. Lack of translations results in an application not fully translated into the native language.

App:
Nextcloud 20.0.0 beta4
Dashboard  7.0.0

[2020-09-18 11:34] rakekniven commented on #67
Hello @juliushaertl ,

is the dashboard part of default NC20 installation?
If so this would be a show stopper IMHO?

@Valdnet Can you add some screenshots?

[2020-09-18 11:40] juliushaertl commented on #67
I'm not sure how translations are handled for apps inside of the server repo, @MorrisJobke do we need to setup anything additionally there?

[2020-09-18 12:17] Valdnet commented on #67
@rakekniven This is what it looks like:

![obraz](https://user-images.githubusercontent.com/47037905/93595930-e042e300-f9b8-11ea-8e01-118180488c68.png)
![obraz](https://user-images.githubusercontent.com/47037905/93595985-f6e93a00-f9b8-11ea-8d60-aba0231e265a.png)
![obraz](https://user-images.githubusercontent.com/47037905/93596106-1ed89d80-f9b9-11ea-87ad-1596806ccc2a.png)
![obraz](https://user-imag

[2020-09-18 13:52] Valdnet commented on #67
To fully translate a Dashboard, you should also consider adding the following widgets to Transifex:
https://github.com/nextcloud/integration_zammad/issues/1
https://github.com/nextcloud/integration_discourse/issues/1
https://github.com/nextcloud/integration_github/issues/9
https://github.com/nextcloud/integration_gitlab/issues/4
https://github.com/nextcloud/integration_mastodon/issues/5
https://gi

[2020-09-18 18:05] MorrisJobke commented on #67
Apps inside the server repo are handled via https://github.com/nextcloud/server/blob/master/.tx/config - so new apps need to be added there. Most likely dashboard, status and weather.

[2020-09-18 18:06] MorrisJobke commented on #67
Yep - https://docs.nextcloud.com/server/19/developer_manual/app/view/l10n.html?highlight=transifex#setup-of-the-transifex-sync

[2020-09-18 18:06] MorrisJobke commented on #67
Let me add all of them.

[2020-09-18 18:39] MorrisJobke commented on #67
https://github.com/nextcloud/server/pull/22949

[2020-09-18 18:39] #67 closed

[2020-09-18 18:43] MorrisJobke commented on #67
Should all appear this night :)

[2020-09-18 18:48] MorrisJobke commented on #67
The server one is name "dashboard-shipped-with-server" in transifex.

[2020-09-19 08:04] Valdnet commented on #67
@MorrisJobke Thanks a lot :wink:.

[2020-09-20 13:07] Valdnet opened #69 "l10n: No text string in Transifex"
The following text strings to be translated are missing from Transifex:

- geocoding with Nominatim
- elevation data from OpenTopoData

![obraz](https://user-images.githubusercontent.com/47037905/93711914-47e06600-fb52-11ea-8c71-2ffc97b7f321.png)

https://github.com/nextcloud/server/blob/2b7c2a04103d749fe5fcd10628cdd61b4fd1240e/apps/dashboard/src/App.vue#L78

App:
Nextcloud 20.0.0 beta4
Dashboard

[2020-09-23 19:02] axel-rank opened #70 "Empty Screen in NC 20rc1"
Dashboard shows empty screen in NC20rc1.
Only avatar is shown.

[2020-10-01 18:42] weeman1337 opened #71 "Mixed languages on the dashboard"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Steps

[2020-10-02 08:34] Valdnet commented on #71
The dashboard version 6.0.0 may appear not fully translated into native languages. This problem was reported on issue #67.
The latest version is from [Dec 10, 2018](https://github.com/nextcloud/dashboard/releases/tag/v6.0.0), so there may not be the latest translations.

But don't worry @weeman1337. After a new version is released, it will be fully translated into German. I checked the German lang

[2020-10-02 09:23] Kat-CeDe commented on #70
Hi,
it is still the case in RC2 of NextCloud 20

[2020-10-02 12:01] #71 closed

[2020-10-04 18:19] ochorocho commented on #70
Hey, running NC 20 release on Oct 3rd.

I get a blank page, well there is the users avatar on top right, and the menu is simply not readable, but its there:

<img width="995" alt="grafik" src="https://user-images.githubusercontent.com/4623070/95023698-bd822100-067e-11eb-9a1f-ee7877d3e531.png">

JS console output:
[code]

[2020-10-04 19:45] TheGreatestJannet opened #72 "Error everytime the dashboard is loaded."
Every time the dashboard loads I get the following error in the log: `Dashboard widget recommendations took 1.13 seconds to load.` The dashboard works perfectly otherwise. It is running on a Raspberry Pi 4.

[2020-10-05 07:47] Bipe0 commented on #70
Having the same issue

here are the errors that i'm getting in console (filtered out dashboard only errors):
[code]

[2020-10-05 09:15] axel-rank commented on #70
Is your Accessibility App deactivated?
Had blank Dashboard Page too. After activating Accessibility App it's working.

[2020-10-05 09:17] #70 closed

[2020-10-05 09:18] ochorocho commented on #70
@axel-rank thanks. That fixed the issue. Just activated the Accessibility App.

[2020-10-05 09:21] Kat-CeDe commented on #70
thanks release 20 also showing dashboard for me.

[2020-10-06 04:57] jookk opened #73 "Scrolling on mobile difficult"
I must scroll down at the left or right edge  of the screen. If not, widgets are moved.
Can be this disabled on mobile browsers?

[2020-10-06 19:53] shaynethiessen opened #74 "The page’s settings blocked the loading of a resource at inline (“script-src”)."
I get a content security policy error in the browsers console, along with a blank web page.

`Content Security Policy: The page’s settings blocked the loading of a resource at inline (“script-src”).`

[2020-10-07 18:43] rakekniven commented on #70
Server issue: https://github.com/nextcloud/server/issues/23163

[2020-10-08 15:40] Mikescops opened #75 "Blank page on dashboard after update to 20.0.0"
Hello,

After upgrading my instance to N20, the new Dashboard app ended up displaying a blank page.

Here is a screenshot with the first errors appearing.

![image](https://user-images.githubusercontent.com/4266283/95481436-49e95800-098d-11eb-88cc-fdb7c8c7a6d0.png)

[2020-10-08 15:41] Mikescops commented on #75
Duplicate of #74 sorry!

[2020-10-08 15:41] #75 closed

[2020-10-12 11:00] LarsBauer opened #76 "Wrong time in weather widget"
The time displayed in the weather widget is not correct. I took this screenshot just now (~ 13:00 in Germany) but it's showing 17:00. Is there any setting I am missing?

![image](https://user-images.githubusercontent.com/3920045/95738890-3f2f0b80-0c8a-11eb-829b-8dd47aeb40d5.png)

[2020-10-12 13:54] rollanders opened #77 "Dahboard only gives ab lank page"
I only get a white page in Dashboard. Only my avatar is visible and a red dot for Notifications. The menu (to choose other apps) is not visible but can be accessed by cliqing on their expected location in the page.  See photo
Same result in Edge, Chrome and Firefox on Windows 10. NC 20.0.0, Dashboard 7.0.0 Server Ubuntu 18.0.4. Nginx

![Dashboard](https://user-images.githubusercontent.com/36486009

[2020-10-12 16:04] Mikescops commented on #77
Duplicate of #74

[2020-10-12 16:11] Mikescops commented on #74
Ok folks, this is unrelated to this project, this issue should be addressed in nextcloud/server

This was fixed here: https://github.com/nextcloud/server/issues/23163

[2020-10-12 16:12] #74 closed

[2020-10-12 16:13] Mikescops commented on #77
This is unrelated to this project, this issue should be addressed in nextcloud/server

This was fixed here: https://github.com/nextcloud/server/issues/23163

[2020-10-12 16:13] #77 closed

[2020-10-12 16:14] Mikescops commented on #76
This is unrelated to this project, this issue should be addressed in nextcloud/server

[2020-10-13 05:45] LarsBauer commented on #76
Why is this unrelated? Can you please explain? All other places in my Nextcloud setup show the correct time.

[2020-10-13 14:02] shaynethiessen commented on #74
Thanks for the update!

[2020-10-14 10:36] tobiasKaminsky commented on #30
Deprecated in favor of dashboard integrated in NC 20.

[2020-10-14 10:36] #30 closed

[2020-10-16 11:14] jancborchardt opened #79 "Report any issues in the server repository instead"
The Dashboard app was rewritten as part of Nextcloud 20 and is now part of the [server repository](https://github.com/nextcloud/server/). Please head there for issue reporting and the app code.